@using TomaszDrzewieckiCybercom2017.Models;
@model dynamic

@{
    ViewBag.Title = "Lista Mieszana";
}

<h2>Książki i Autorzy</h2>

<ul class="list-group">
    
        @foreach (Book ksiega in Model.Book)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
            @ksiega.Title
            @Html.ActionLink("Edycja", "Edit", new { id = ksiega.Id, rodzaj = "ksiazka" }, new{  @class = "badge btn btn-sm btn-info"})            
            </li>
        }
        @foreach (Author nowy in Model.Author)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
            @nowy.Name
            @nowy.Surname
            @Html.ActionLink("Edycja", "Edit", new { id = nowy.Id, rodzaj = "autor" }, new { @class = "badge btn btn-sm btn-info" })
            </li>
        }
</ul>